#notice {
  background-color: rgb(248, 250, 219);
  color: rgb(211, 1, 1);
}

#sortStartAt, #sortEndAt, #sortPriority, #sortUserId, #sortUserEmail, #sortUserCreatedAt {
  text-decoration: none;
  color: #000;
}

#sortStartAt:hover, #sortEndAt:hover, #sortPriority:hover, #sortUserId:hover, #sortUserEmail:hover, #sortUserCreatedAt:hover {
  color: #888;
}

#paginate > nav > ul {
  display: flex;
  justify-content: center;
}
