.user-form-container {
  width: 28rem;
}

.upload-avatar-label {
  cursor: pointer;
}

#userAvatar, #userAvatarThumb {
  object-fit: cover;
}

.upload-avatar-input {
  display: none;
}
