<div class="container">
  <%= render 'layouts/navbar' %>

  <h1 class="mb-3 text-center fw-bold"><%= t("edit_mission") %></h1>

  <%= render 'form', mission: @mission %>

  <div>
    <%= link_to t("back_to_mission_list"), missions_path, class: "btn btn-outline-primary" %>
  </div>
</div>
